body{
    margin: 0px;
}
ul{
    background-color: rosybrown;
    margin-top: 0px;
    list-style: none;
}
li{
    display: inline;
    padding: 14px;
}
a{
    color: black;
    text-decoration: none;
}